<div id="fight">
  <div id="announcement-stack">
    @for (announcement of announcements; track announcement.id) {
      <div class="attack-announcement">{{announcement.text}}</div>
    }
  </div>
  <div class="container">
    <p class="label">{{'Attacks'| translate}}: </p>
    <div id="attacks" [@turn]="current === parent.login ? 'enabled' : 'disabled'">
      @for (skill of skills; track skill) {
        <div class="attack">
          <div (click)="selectSpell($event)" pTooltip="{{map[skill]}}">
            <img id="{{skill}}"
              src="../../assets/elements/{{skill.substring(0, skill.indexOf(' ')).toLowerCase()}}.png">
            </div>
          </div>
        }
      </div>
      @if (summonEnabled) {
        <img id="summon" src="../../assets/summon.png" (click)="summon()"/>
      }
      <div id="turn">
        <p id="current"></p>
        <p id="timer"></p>
      </div>
    <div id="fighters">
      <div class="ally">
        <template #alliesContainer></template>
      </div>
      <div class="foe">
        <template #enemiesContainer></template>
      </div>
    </div>
    <div id="ground">
    </div>
  </div>
  <div id="attack-log">
    @for (event of attackEvents; track event) {
      <p class="attack-event">{{event}}</p>
    }
  </div>
</div>
