<div class="friendsList">
  <div class="tabs">
    <button type="button" (click)="selectedTab = 'friends'">{{'Friends' | translate}}</button>
    <button type="button" (click)="selectedTab = 'incoming'">{{'In' | translate}}</button>
    <button type="button" (click)="selectedTab = 'outgoing'">{{'Out' | translate}}</button>
  </div>
  @if (selectedTab === 'friends') {
      <div class="onePage">
        @if (friends.length == 0) {
          <label>{{'No friends yet' | translate}}</label>
        }
        <ul class="list">
          @for (friend of friends; track friend) {
            <li>
              <div class="userdata">{{friend.login}}
                @if (friend.online) {
                  <label class="online">⚫</label>
                }
                @if (friend.offline) {
                  <label class="offline">⚫</label>
                  }<br>
                  <!--<p-button *ngIf="friend.online" class="invite" (click)="inviteToPVP(friend)">{{'Invite to Fight' | translate }}
                </p-button>
                <br *ngIf="friend.online">-->
                <p-button class="invite" (click)="showMessageInput(friend)" label="{{'message' | translate}}"></p-button>
                <br>
                  <p-button class="decline" (click)="deleteFriend(friend)" label="{{'delete' | translate}}"></p-button>
                </div>
              </li>
            }
          </ul>
        </div>
  }
  @if (selectedTab === 'incoming') {
        <div class="onePage">
          @if (inRequested.length == 0) {
            <label>{{'No requests yet' | translate}}</label>
          }
          <ul class="list">
            @for (inReq of inRequested; track inReq) {
              <li>
                <span class="login">{{inReq.login}}</span><span class="buttons">
                <p-button (click)="addFriend(inReq)" class="accept">{{'Accept' | translate }}</p-button>
                <p-button (click)="declineReq(inReq)" class="decline">{{'Decline' | translate }}</p-button>
              </span>
            </li>
          }
        </ul>
      </div>
  }
  @if (selectedTab === 'outgoing') {
      <div class="onePage">
        @if (outRequested.length == 0) {
          <label>{{'No one is requested' | translate}}</label>
        }
        <ul class="list">
          @for (outReq of outRequested; track outReq) {
            <li>
              <span class="login">{{outReq.login}}</span><span class="buttons">
              <p-button (click)="deleteRequest(outReq)" class="decline">{{'Delete' | translate }}</p-button>
            </span>
          </li>
        }
      </ul>
    </div>
  }
</div>
