<div id="chat">
  <div class="msg">
    <ul>
      @for (msg of messages; track msg) {
        <li>
          @if (msg.author === 'SYSTEM') {
            <label class="admin">{{msg.author | translate}}: {{msg.text}}</label>
          }
          @if (msg.author !== 'SYSTEM') {
            <label class="ordinary">{{msg.author}}: {{msg.text}}</label>
          }
        </li>
      }
    </ul>
  </div>
  <div id="write">
    <input type="text" pInputText id="text" [(ngModel)]="input" (keyup.enter)="send()">
    <p-button id="send" label="{{'Send' | translate}}" [disabled]="!input?.trim() || !user" (onClick)="send()"></p-button>
    <br>
      @if (admin) {
        <label id="lbl">{{asSystem? ('Send as system' | translate) : ('Send as user' | translate) }}</label>
      }
      @if (admin) {
        <input type="checkbox" [(ngModel)]="asSystem">
      }
    </div>
  </div>
