<div id="header">
  <div>
    <p-button label="{{'Back' | translate }}" id="back" (click)="parent.router.navigateByUrl('messages')"></p-button>
  </div>
  <div>
    <p>{{interlocutor}}</p>
  </div>
</div>
<div id="messages">
  @for (message of messages; track message) {
    <div>
      @if (message.sender.login === interlocutor) {
        <div class="message">
          <div class="incoming">{{message.message}}</div>
        </div>
      }
      @if (message.receiver.login === interlocutor) {
        <div class="message out">
          <div class="outgoing">{{message.message}}</div>
        </div>
      }
    </div>
  }
</div>
<div id="write">
  <input type="text" pInputText id="text" [(ngModel)]="input" (keyup.enter)="send()">
  <p-button id="send" label="{{'Send' | translate }}" (onClick)="send()"></p-button>
</div>
